*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    text-align: center;
}
body{
    background-color: #1d1863;
}
h1{
    color: white
}
.control{
    margin-top: 20px
}
label{
    color: white;
}

#result{
    margin: 30px auto;
    display: inline-block;
    
    /* background-color: aqua; */
}
#image{
    width: 200px;
    height: 200px;
    background-color: yellow;
}

